---
title: Kadalu Storage - Kadalu Technologies
---

<section class="hero is-primary" style="background-image: url(/images/pattern.png)">
  <div class="hero-body has-text-centered">
    <p class="title">
        Kadalu Storage
    </p>
    <p class="subtitle">
        100% Open Source, distributed storage solution based on GlusterFS. Kadalu Storage provides a modern storage manager with ReST APIs.
    </p>
  </div>
</section>

<div class="has-background-primary p-4" style="background-image: url(/images/pattern.png)">
    <div class="columns">
        <div class="column is-4">
            <div class="card has-background-primary-light">
                <div class="card-content">
                    <p class="title">
                        Kadalu Storage
                    </p>
                    <div class="content">
                        100% Open Source, distributed storage solution based on GlusterFS. Kadalu Storage provides a modern storage manager with ReST APIs.
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card has-background-primary-light">
                <div class="card-content">
                    <p class="title">
                        Feature development
                    </p>
                    <div class="content">
                        We design, prototype, and implement GlusterFS / Kadalu Storage tools, applications, and features for your Company.                        
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card has-background-primary-light">
                <div class="card-content">
                    <p class="title">
                        Consultancy
                    </p>
                    <div class="content">
                        With our experience with GlusterFS / Kadalu Storage, we can help get your Storage deployments on the right track from the start.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="has-text-centered has-text-white">
        <p class="mb-4">We are happy to connect with you. For queries related to Kadalu Storage product sales/demo/consultancy please write an email to us at <a class="has-text-white" href="mailto:hello@kadalu.tech">hello@kadalu.tech</a></p>
    </div>
</div>

<div class="py-6 px-4">
    <h2 class="has-text-centered has-text-weight-semibold is-size-4 mb-5">WHAT'S NEW</h2>
    <div class="columns">
        <% sort_blog_posts(@items.find_all('/blog/*'))[0, 3].each do |post| %>
        <% author = author_data(post[:author].to_sym) %>
        <% slug, created_at = slug_and_created_at(post) %>
        <div class="column is-4">
            <div class="card" style="height: 350px">
                <a href="/blog/<%= slug %>">
                    <div class="card-content has-text-grey-dark">
                        <p class="title is-4">
                            <%= post[:title] %>
                        </p>
                        <p class="subtitle is-6 has-text-grey">
                            Posted on <em><%= get_pretty_date(created_at) %></em> by <em><%= author[:name] %></em>
                        </p>
                        <div class="content">
                            <%= post[:description] %>...
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <% end %>
    </div>
    <div class="has-text-centered mt-6">
        <a href="/blog" class="button">All blog posts</a>
    </div>
</div>
