.content h2 {
    margin-top: 10px;
}

.content .paragraph, .content .listingblock, .content .quoteblock, .content .ulist {
    margin-bottom:1em;
}
.content .imageblock {
    text-align: center;
}
.listingblock .title, .imageblock .title {
    font-size: 1em;
    color: #666666;
    font-weight: normal;
    text-align: center;
}

.listingblock .title {
    margin-bottom: 1px;
}
.imageblock .title {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}
.strike{text-decoration:line-through}
