<% slug, created_at = slug_and_created_at(item) %>
<% author = author_data(item[:author].to_sym) %>
<!DOCTYPE HTML>
<html lang="en">
    <%= render '/head.*' %>
    <body>
        <div id="main">
            <%= render '/top_bar.*' %>
            <div class="container is-max-desktop px-4" id="content">
                <div class="has-text-centered py-6">
                    <a href="/">
                        <figure class="image is-64x64" style="margin: auto">
                            <img class="is-rounded" src="https://github.com/<%= item[:author] %>.png?size=300px">
                        </figure>
                        <p class="has-text-grey pb-6 is-size-6 is-uppercase"><%= author[:name] %></p>
                    </a>
                </div>

                <div class="">
                    <h1 class="title is-1 has-text-centered"><%= @item[:title] %></h1>
                    <div class="has-text-grey mb-1 has-text-centered">
                        Posted on <strong><%= get_pretty_date(created_at) %></strong> by <strong><%= author[:name] %></strong>
                    </div>
                    <p class="has-text-centered">
                        <span class="icon-text">
                            <svg class="mr-1 icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
                            <span><strong><%= reading_time(item.compiled_content) %></strong> read.</span>
                        </span>
                    </p>
                    <div class="content py-6">
                        <%= yield %>
                    </div>
                </div>

                <div class="has-text-centered mb-6 notification is-light">
                    <p class="has-text-grey is-uppercase is-size-5 pb-2">About <%= author[:name] %></p>
                    <% if author.has_key?(:bio) %>
                    <p><%= author[:bio] %></p>
                    <% end %>
                    <p>
                        <% if author.has_key?(:site) %>
                        <a class="mr-2" href="<%= author[:site] %>">Website</a>|
                        <% end %>
                        <% if author.has_key?(:twitter) %>
                        <a class="mx-2" href="https://twitter.com/<%= author[:twitter] %>">Twitter</a>|
                        <% end %>
                        <a class="ml-2" href="https://github.com/<%= item[:author] %>">Github</a>
                    </p>
                </div>
            </div>

        </div>
        <%= render '/footer.*' %>
        </div>
    </body>
</html>
