<div class="min-h-[50vh] py-10 px-10 bg-[#007ca3] text-white  underline-offset-8">
    <div class="flex flex-row flex-wrap">
        <div class="p-5 footer-column">
            <h2 class="text-xl underline py-2">Company</h2>
            <a href="/storage">Kadalu Storage</a>
            <a href="/feature-development">Feature development</a>
            <a href="/consultancy">Consultancy</a>
            <a href="/about">About Us</a>
            <a href="/blog">Blog Posts</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Use</a>
        </div>
        <div class="p-5 footer-column">
            <h2 class="text-xl underline py-2">Resources</h2>
            <a href="/docs">Docs</a>
            <a href="/support">Support</a>
            <a href="/security">Security</a>
            <a href="/gluster-vs-kadalu">Gluster vs Kadalu</a>
        </div>
        <div class="p-5 footer-column">
            <h2 class="text-xl underline py-2">Community</h2>
            <a href="#">Community Slack</a>
            <a href="https://github.com/kadalu">Github</a>
        </div>

        <div class="p-5 footer-column">
            <h2 class="text-xl underline py-2">Contact Us</h2>
            <a>Email to hello@kadalu.tech</a>
            <a href="https://twitter.com/kadalu_tech">Twitter</a>
            <a href="https://linkedin.com/kadalu_tech">Linkedin</a>
            <!-- <a href="https://youtube.com/channel/kadalu_tech">Youtube</a> -->
        </div>
    </div>
    <div class="text-center mt-20">
        Copyright &copy; 2022 Kadalu Technologies Private Limited.
    </div>
</div>
