<div class="footer has-background-info-25 has-text-white pt-6">
    <div class="columns">
        <div class="column">
            <h2 class="has-font-weight-semibold is-size-5 is-underlined py-2">Company</h2>
            <a class="is-block has-text-white" href="/about">About Us</a>
            <a class="is-block has-text-white" href="/blog">Blog Posts</a>
        </div>
        <div class="column">
            <h2 class="has-font-weight-semibold is-size-5 is-underlined py-2">Resources</h2>
            <a class="is-block has-text-white" href="/support">Support</a>
            <a class="is-block has-text-white" href="/security">Security</a>
            <a class="is-block has-text-white" href="/storage/quick-start">Gluster FS Quick start</a>
        </div>
        <div class="column">
            <h2 class="has-font-weight-semibold is-size-5 is-underlined py-2">Community</h2>
            <a class="is-block has-text-white" target="_blank" href="https://join.slack.com/t/kadalu/shared_invite/enQtNzg1ODQ0MDA5NTM2LWMzMTc5ZTJmMjk4MzI0YWVhOGFlZTJjZjY5MDNkZWI0Y2VjMDBlNzVkZmI1NWViN2U3MDNlNDJhNjE5OTBlOGU">Community Slack</a>
            <a class="is-block has-text-white" target="_blank" href="https://github.com/kadalu">Github</a>
        </div>

        <div class="column">
            <h2 class="has-font-weight-semibold is-size-5 is-underlined py-2">Contact Us</h2>
            <a class="is-block has-text-white" href="mailto:hello@kadalu.tech">Email to hello@kadalu.tech</a>
            <a class="is-block has-text-white" href="https://twitter.com/kadalu_tech">Twitter</a>
            <a class="is-block has-text-white" href="https://linkedin.com/kadalu_tech">Linkedin</a>
        </div>
    </div>
    <div class="has-text-centered mt-6">
        Copyright &copy; 2019-2024 Kadalu Technologies Private Limited.
    </div>
</div>
