<nav class="navbar px-4" role="navigation" aria-label="main navigation" x-data="{showing: false}">
  <div class="navbar-brand has-text-left">
      <a class="navbar-item" href="/">
          <img src="/images/logo.svg" alt="Kadalu Technologies" width="300">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" :class="showing ? 'is-active' : ''" aria-expanded="false" @click="showing = !showing">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-end" x-show="showing">
      <a class="navbar-item" href="/blog">
          Blog
      </a>
      <a class="navbar-item" href="/about">
          About Us
      </a>
  </div>
</nav>
